<a href="{{content.field_vslider_link[0]['#url']|render}}" class="popup-youtube video vslider-item" title="{{content.field_vslider_title.0}}">
    <img src="{{file_url(content.field_vslider_image[0]['#media'].field_media_image.entity.uri.value)}}" alt="{{content.field_vslider_title.0}}" />
    <div id="play-video" class="video-play-button">
        <span></span>
    </div>
    <p>{{content.field_vslider_title.0}}</p>
</a>