<!-- Page Cover -->
<section class="acc-deny-section" style="background-image: url('{{ base_path ~ directory }}/img/bg12.jpg');">
    <div class="col-md-12 hgtper100 fRight padding0 displayTable header-cover">
        <div class="content_area text-center displayTableCell verAlignMiddle">
            <h1 class="heading cover-lg-heading text-color-dark1">{{'Access denied'|t}}</h1>
            <p class="cover-sub-heading text-color-dark1 mb40 xs-mb20">{{'You are not allowed to access this page'|t}}</p>
            <a href="{{ base_path}}" class="btn btn-line btn-small btn-rounded btn-outline-dark mb40 xs-mb20">{{'Return to the home page'|t}}</a>
        </div>
    </div>
</section>
<style>
    div#block-dawwie-page-title
    {
        display: none;
    }
</style>