<!-- Footer -->
<footer class="site-footer">
    <div class="footer-top bg-gray-dark">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-2 col-md-6 col-sm-6 footer-col-4">
                    <div class="widget widget_services border-0">
                        <h5 class="m-b30 text-white">{{'Join Us'|t}}</h5>
                        {{useful_links}}
                    </div>
                </div>
                   <div class="col-12 col-lg-3 col-md-6 col-sm-6 footer-col-4">
                    <div class="widget widget_services border-0">
                        <h5 class="m-b30 text-white">{{'Find out more'|t}}</h5>
                        {{footer_menu}}
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 footer-col-4">
                    <div class="widget widget_getintuch">
                        {{connect_us}}
                    </div>
                </div>
             
                <div class="col-lg-3 col-md-6 col-sm-6 footer-col-4 ">
                    <div class="widget">
                        {{footer_text}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

{#<div id="popup1" class="overlay">
    <div class="popup">
        <a class="close" href="#">&times;</a>
        <div class="content">
            <img src="{{ base_path ~ directory }}/img/Untitled-1.png" />
        </div>
    </div>
</div>#}

<!-- Modal -->
<div class="modal fade" id="ourPartners" tabindex="-1" role="dialog" aria-labelledby="ourPartnersLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="{{ base_path ~ directory }}/img/Untitled-1.png" />
            </div>
        </div>
    </div>
</div>